FDA_CERTIFICATE_MDC/Web References/WS_TaxnoAuthorize_BSN/WS_TaxnoAuthorize_BSN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insert_taxnoauthorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_taxno_authorize" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_taxnoauthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_taxnoauthorizeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_lcnsid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_taxno_authorize" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_lcnsidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_lcnsidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_name_company">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_taxno_authorize" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_name_companyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insert_taxnoauthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:insert_taxnoauthorize" />
  </wsdl:message>
  <wsdl:message name="insert_taxnoauthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:insert_taxnoauthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="update_lcnsidSoapIn">
    <wsdl:part name="parameters" element="tns:update_lcnsid" />
  </wsdl:message>
  <wsdl:message name="update_lcnsidSoapOut">
    <wsdl:part name="parameters" element="tns:update_lcnsidResponse" />
  </wsdl:message>
  <wsdl:message name="update_name_companySoapIn">
    <wsdl:part name="parameters" element="tns:update_name_company" />
  </wsdl:message>
  <wsdl:message name="update_name_companySoapOut">
    <wsdl:part name="parameters" element="tns:update_name_companyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="insert_taxnoauthorize">
      <wsdl:input message="tns:insert_taxnoauthorizeSoapIn" />
      <wsdl:output message="tns:insert_taxnoauthorizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_lcnsid">
      <wsdl:input message="tns:update_lcnsidSoapIn" />
      <wsdl:output message="tns:update_lcnsidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_name_company">
      <wsdl:input message="tns:update_name_companySoapIn" />
      <wsdl:output message="tns:update_name_companySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert_taxnoauthorize">
      <soap:operation soapAction="http://tempuri.org/insert_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_lcnsid">
      <soap:operation soapAction="http://tempuri.org/update_lcnsid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_name_company">
      <soap:operation soapAction="http://tempuri.org/update_name_company" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert_taxnoauthorize">
      <soap12:operation soapAction="http://tempuri.org/insert_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_lcnsid">
      <soap12:operation soapAction="http://tempuri.org/update_lcnsid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_name_company">
      <soap12:operation soapAction="http://tempuri.org/update_name_company" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://164.115.28.108/WS_TaxnoAuthorize_BSN/WS_TaxnoAuthorize_BSN.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://164.115.28.108/WS_TaxnoAuthorize_BSN/WS_TaxnoAuthorize_BSN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>